*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: red;
}
h1{
    padding-left: 5vh;
    color:white;
    margin-top: 2vh;
} 
#menuOpciones {
    a{
        color: white;
        text-decoration: none;
        margin-left : 45vh;
        padding-top: 20vh;
    }

}